<div class="row">
  <% offers.each do |offer| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <%= render partial: 'offers/offer', locals: { offer: offer } if offer %>
      <% unless offer %>
        <div class="card card-body card-invisible"></div>
      <% end %>
    </div>
  <% end %>
</div>
