<div class="jumbotron jumbotron-header wrapper">
  <h1 class="display-4">lemoney test</h1>
  <p class="lead">Get loads of cashback rewards with great non-existing offers!</p>
  <%= link_to 'Admin', admin_offers_path, class: 'jumbotron-admin-link' %>

  <div class="stage">
    <div class="">
      <div class="dot animated infinite bounce del-1"></div>
    </div>
    <div class="move">
      <div class="dot animated infinite bounce del-2"></div>
    </div>
    <div class="move">
      <div class="dot animated infinite bounce del-3"></div>
    </div>
    <div class="move">
      <div class="dot animated infinite bounce del-4"></div>
    </div>
    <div class="move">
      <div class="dot animated infinite bounce del-5"></div>
    </div>
    <div class="move">
      <div class="dot animated infinite bounce del-6"></div>
    </div>
    <div class="move">
      <div class="dot animated infinite bounce del-7"></div>
    </div>
    <div class="move">
      <div class="dot animated infinite bounce del-8"></div>
    </div>
    <div class="move">
      <div class="dot animated infinite bounce del-9"></div>
    </div>
  </div>
</div>
