<div class="jumbotron jumbotron-header wrapper">
  <h1 class="display-4">
    <%= link_to 'lemoney test', root_path, class: 'link-undecorated' %>
  </h1>
  <p class="lead"><%= t('messages.description') %></p>
  <!-- Btw "non-existing offers" refer to the offer being a fake offer
       created by the seeds.rb file -->
  <%= link_to 'Admin', admin_offers_path, class: 'jumbotron-admin-link' %>
</div>
